# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
go.sum
nway.key
nway.pem
.vscode/
nway.s3db
web-src/package-lock.json
static/
nway.sqlite3.db
web-src/auto-imports.d.ts
web-src/components.d.ts
exports/
__pycache__/
data/
docs/