.data-view {
    width: 13px;
    height: 13px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 3px;
    bottom: 3px;
    background-image: url("../assets/edit.svg");
}